POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=nse_user
POSTGRES_PASSWORD=changeme
POSTGRES_DB=nse_db

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=changeme

# Generate with: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW_FERNET_KEY=ZmDfcTF7_60GrrY167zsiPd67pEvs0aGOv2oasOM1Pg=
AIRFLOW_SECRET_KEY=changeme-secret-key
